// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;

// More Grayscale
$WHITE: #ffffff;
$GRAY0: #f8f9fa;
$GRAY1: #f1f3f5;
$GRAY2: #e9ecef;
$GRAY3: #dee2e6;
$GRAY4: #ced4da;
$GRAY5: #adb5bd;
$GRAY6: #868e96;
$GRAY7: #495057;
$GRAY8: #343a40;
$GRAY9: #212529;
$BLACK: #000000;

// Chromatic
$RED: #ff3b30;
$ORANGE: #ff9500;
$YELLOW: #ffcc00;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$BLUE: #007aff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;

$BIG_TITLE: #1f315b;
$TASKS_TITLE: #8f99bf;
$TASK_ITEM_TITLE: #4f566f;

// Theme
$BLUE1: #cae9ff;
$BLUE3: #369efc;
$BLUE5: #007ce9;
$DARKBLUE: #2d3d50;

// HumanScape
$HBLUE: #047be9;
$HLIGHTBLUE: #cae9ff;
$HGRAY: #a7aeb7;
