@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/responsive';
@use '/src/styles/mixins/position';

.list {
  .container {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    inset: 0px;
    z-index: 100;
    background-color: rgb(255, 255, 255);

    .noResult {
      margin: 10px 0 0 30px;
    }

    .searchWrapper {
      display: flex;
      flex-direction: row;
      position: relative;
      height: 52px;

      .inputWrapper {
        display: flex;
        flex-direction: row;
        position: relative;

        width: 100%;
        height: 54px;

        background-color: #ffffff;

        font-size: 1rem;
        font-weight: 300;
        letter-spacing: -0.018em;
        line-height: 1.6;

        .backIcon {
          margin: 16px 15px 0 25px;
          width: 20px;
          height: 20px;
        }

        input {
          ::placeholder {
            color: colors.$HGRAY;
            font-size: 0.875rem;
            font-weight: 400;
            letter-spacing: -0.018em;
            line-height: 1.6;
          }
        }

        .closeIcon {
          position: absolute;
          width: 30px;
          height: 30px;
          transform: translateY(-50%) scale(50%);
          top: 50%;
          right: 50px;
          fill: blue;
        }

        .searchIcon {
          position: absolute;
          transform: translateY(-50%) scale(50%);
          top: 50%;
          right: 10px;
        }

        input {
          flex: 1;
          min-width: 0;
          border: 0;
          background-color: transparent;
          font-size: 1.25rem;
          letter-spacing: normal;
        }
      }
    }

    .title {
      margin: 10px;
      margin-left: 50px;
      font-size: 0.8rem;
      color: colors.$GRAY6;
    }

    .listContent {
      @include flexbox.flexbox(center baseline);
      position: relative;
      width: 100%;
      height: 50px;
      padding: 0 60px;
      cursor: pointer;

      .icon {
        position: absolute;
        transform: translateY(-50%) scale(50%);
        top: 50%;
        left: 10px;
      }
    }

    .isFocus {
      background-color: rgba(colors.$GRAYD, 90%);
    }
  }
}
